<button mat-fab (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>

<mat-nav-list role="list">
  <a mat-list-item *ngFor="let item of docs$ | async" [routerLink]="[item.id]">
    {{ item.name }}
  </a>
</mat-nav-list>

<router-outlet></router-outlet>

<ng-template #dialogCreateGallery>
  <h1 mat-dialog-title>Create new gallery</h1>
  <div mat-dialog-content>

    <mat-form-field appearance="fill">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="name">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false">Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="onCreate(name)">Create</button>
  </div>

</ng-template>
