<div>
  viewport size:{{ viewportSize.width }} x {{ viewportSize.height }}
</div>

<div *ngFor="let image$ of images$">
  <img *ngIf="image$ | async as image" class="photo" [src]="image" (click)="openImage(image)">
</div>

{{ metadata2$ | async | json }}

<div>
  viewport rect:{{ viewportRect.width }} x {{ viewportRect.height }}
  - top: {{ viewportRect.top }}
  - bottom: {{ viewportRect.bottom }}
  - left: {{ viewportRect.left }}
  - right: {{ viewportRect.right }}
</div>

<div>
  Scroll: {{ viewportScrollPosition.left }} {{ viewportScrollPosition.top }}
</div>

<div>
  Viewport size observable: {{ viewportWidth$ | async }} x {{ viewportHeight$ | async }}
</div>

<ul>
  <li *ngFor="let type of supportedInputTypes">{{ type }}</li>
</ul>

<router-outlet></router-outlet>
