<div class="flex h-full flex-col">
  <p class="m-0 px-4 pt-6 pb-4 text-lg font-bold">Osefdetalife</p>
  <mat-nav-list data-testid="sidebar-nav" aria-label="Dashboard navigation">
    @for (item of navItems; track item.label) {
      <a
        mat-list-item
        [attr.data-testid]="'nav-item-' + item.label.toLowerCase().replaceAll(' ', '-')"
        [routerLink]="item.path"
        routerLinkActive="active"
        #rla="routerLinkActive"
        [activated]="rla.isActive"
        [routerLinkActiveOptions]="{ exact: true }"
        (click)="itemSelected.emit()"
      >
        <mat-icon matListItemIcon aria-hidden="true">{{ item.icon }}</mat-icon>
        <span matListItemTitle>{{ item.label }}</span>
      </a>
    }
  </mat-nav-list>
  <mat-action-list class="mt-auto">
    <button
      #signOutButton
      mat-list-item
      type="button"
      data-testid="sign-out-button"
      [disabled]="signingOut()"
      [attr.aria-busy]="signingOut()"
      (click)="signOut()"
    >
      <mat-icon matListItemIcon aria-hidden="true">logout</mat-icon>
      <span matListItemTitle>Sign out</span>
    </button>
  </mat-action-list>
</div>
