/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@use "@angular/material" as mat;
@import url("https://fonts.googleapis.com/css?family=Krub");



:root {
  --color-bg-dark: #15171b;
  --color-bg-light: #e8e8e8;

  --color-dark: #ffffff;
  --color-light: #000000;

  --color-item-light: #f1f1f1;

  --bg-color: var(--color-bg-light);
  --color: var(--color-light);
}

html {
  color-scheme: light dark;
  @include mat.theme(
    (
      color: mat.$violet-palette,
      typography: Krub,
      density: 0,
    )
  );
}

body {
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

.dark-theme {
  color-scheme: dark;

  --bg-color: var(--color-bg-dark);
  --color: var(--color-dark);
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: "Krub", sans-serif;
  color: var(--color);
}
